/ConsoleInputObject1.class
/ConsoleInputStream1_1.class
/ConsoleInputObject2.class
/ConsoleInputObject2_1.class
/ConsoleInputObject3.class
/ConsoleOutputObject1.class
/ConsoleOutputObject1_1.class
/Ex06_ConsoleInputOutputObject.class
