/Ex01_UsageOfDataType.class
/Ex02_NamingVariableAndConstant.class
/Ex03_RangeOfVariableUse.class
/FloatVsDouble.class
/OperationBetweenDataType.class
/PrimaryDataType_1.class
/PrimaryDataType_2.class
/TypeCasting_1.class
/TypeCasting_2.class
